@using BlazorLabb.Models

<li class="userDisplay">
    <p>@UserModel.Id</p>
    <p>@UserModel.Name</p>
    <p>@UserModel.Email</p>
    <p>@UserModel.Address.Street</p>
    <p>@UserModel.Address.City</p>
    <p>@UserModel.Address.ZipCode</p>
    <p>@UserModel.Company.Name</p>
    <p>@UserModel.Company.Catchphrase</p>
</li>

@code {
	[Parameter]
	public User UserModel { get; set; }
}
