@page "/users"
@rendermode InteractiveServer
@using BlazorLabb.Models
@using BlazorLabb.Components.Pages.Components
@using BlazorLabb.Services
@inject GenerateUsers generateUsers

<PageTitle>Users</PageTitle>

<h1>User Data</h1>

@if (_loadingUsers)
{
    <h5>Loading users...</h5>
}
else
{
    <p style="color: red">@generateUsers.ErrorMsg</p>

    <div class="sortSearchContainer">
        <button class="@(StyleSortButton("ShowAll"))" @onclick="HandleShowAll">Show All</button>

        <span>sort by:</span>
        <button class="@(StyleSortButton("Id"))" @onclick='() => HandleSortBy("Id")'>Id</button>
        <button class="@(StyleSortButton("Name"))" @onclick='() => HandleSortBy("Name")'>Name</button>
        <button class="@(StyleSortButton("Email"))" @onclick='() => HandleSortBy("Email")'>E-Mail</button>
        <button class="@(StyleSortButton("Street"))" @onclick='() => HandleSortBy("Street")'>Street</button>
        <button class="@(StyleSortButton("City"))" @onclick='() => HandleSortBy("City")'>City</button>
        <button class="@(StyleSortButton("ZipCode"))" @onclick='() => HandleSortBy("ZipCode")'>ZIP Code</button>
        <button class="@(StyleSortButton("CompanyName"))" @onclick='() => HandleSortBy("CompanyName")'>Company Name</button>
        <button class="@(StyleSortButton("CompanyCatchphrase"))" @onclick='() => HandleSortBy("CompanyCatchphrase")'>Company Catchphrase</button>

        <input placeholder="Search..." @oninput="HandleSearch" />
    </div>

    <br/>

    <ul class="userDisplayContainer">
        @foreach (var user in DisplayUsers())
        {
            <DisplayUser UserModel="user"/>
        }
    </ul>
}

@code {
    private bool _loadingUsers = true;
    private bool _showAllUsers = false;
    private string _selectedSortOption = "Name";
    private bool _sortAscending = true;
    private string _searchInput = string.Empty;
    private List<User> users = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Task.Delay(1000);
            users = await generateUsers.GetUsersAsync();            
            _loadingUsers = false;
            StateHasChanged();
        }
    }

    private void HandleShowAll()
    {
        _showAllUsers = !_showAllUsers;
    }

    private void HandleSortBy(string option)
    {
        if (_selectedSortOption == option)
        {
            _sortAscending = !_sortAscending;
        }
        else
        {
            _selectedSortOption = option;
            _sortAscending = true;
        }
    }

    private void HandleSearch(ChangeEventArgs e)
    {
        _searchInput = e.Value?.ToString() ?? string.Empty;
    }

    public List<User> DisplayUsers()
    {
        List<User> searchedUsers = SearchSortUsers.Search(users, _searchInput);
        List<User> sortedUsers = SearchSortUsers.Selection(searchedUsers, _selectedSortOption, _sortAscending, _showAllUsers);

        return sortedUsers;
    }

    private string StyleSortButton(string option)
    {
        if(option == "ShowAll")
        {
            return _showAllUsers ? "showAll" : "";
        }
        if (_selectedSortOption == option)
        {
            return _sortAscending ? "sortButtonAscending" : "sortButtonDescending";
        }

        return "";
    }

    
}
